


@model IEnumerable<FinalProject.Models.Book>

@{
    ViewData["Title"] = "Books Catalog";
    var isUserAdmin = User.Identity.IsAuthenticated && User.IsInRole("Admin");
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<!-- Search Form -->

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.ISBN</td>
                    <td>@book.Author.Name</td>
                    <td>@book.Description</td>
                    <td>@book.Price.ToString("C")</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Book Actions">
                            @if (isUserAdmin)
                            {
                                <a href="/Book/Edit/@book.BookID" class="btn btn-outline-primary">Edit</a>
                                <a href="/Book/Delete/@book.BookID" class="btn btn-outline-danger">Delete</a>
                            }
                            <a href="/Book/Details/@book.BookID" class="btn btn-outline-secondary">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@*


@model IEnumerable<FinalProject.Models.Book>

@{
    ViewData["Title"] = "Books Catalog";
}


<h2 class="mb-3">@ViewData["Title"]</h2>

<form asp-action="Index" method="get" asp-controller="Book">
    <div class="form-group">
        <label for="searchTitle" class="control-label">Title</label>
        <input type="text" name="searchTitle" class="form-control" placeholder="Search by title"/>
    </div>
    <div class="form-group">
        <label for="searchAuthor" class="control-label">Author</label>
        <input type="text" name="searchAuthor" class="form-control" placeholder="Search by author" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>@book.Author.Name</td>
                <td>@book.Description</td>
                <td>@book.Price.ToString("C")</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Book Actions">
                        <a href="/Book/Edit/@book.BookID" class="btn btn-outline-primary">Edit</a>
                        <a href="/Book/Details/@book.BookID"
                        class="btn btn-outline-secondary">Details</a>
                        <a href="/Book/Delete/@book.BookID" class="btn btn-outline-danger">Delete</a>
                        <a href="@Url.Action("AddToCart", "Cart", new { bookId = book.BookID, quantity = 1 })">Add To Cart</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


*@

