

@model IEnumerable<FinalProject.Models.Book>

@{
    ViewData["Title"] = "Books Catalog";
    var isUserAdmin = User.Identity.IsAuthenticated && User.IsInRole("Admin");
}

<h2 class="mb-3">@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New Book</a>
</p>

<!-- Search Form -->
<form asp-action="Index" method="get" class="mb-4">
    <div class="form-row">
        <div class="col">
            <input type="text" name="searchTitle" class="form-control" placeholder="Search by title" value="@ViewContext.RouteData.Values["searchTitle"]" />
        </div>
        <div class="col">
            <input type="text" name="searchAuthor" class="form-control" placeholder="Search by author" value="@ViewContext.RouteData.Values["searchAuthor"]" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>

<!-- Table of Books with information -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th style="text-align: center;" colspan="4">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.ISBN</td>
                    <td>@book.Author.Name</td>
                    <td>@book.Description</td>
                    <td>@book.Price.ToString("C")</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Book Actions">                            

                            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookID" class="btn btn-info btn-sm">Details</a>                            
                            @if (isUserAdmin)                            {
                              
                                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.BookID" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.BookID" class="btn btn-danger btn-sm">Delete</a>
                            }
                            
                        </div>
                    </td>
                    <td>

                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-bookId="@book.BookID" class="btn btn-success btn-sm">Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


