



@*

@model IEnumerable<FinalProject.Models.Author>


@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => author.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@author.AuthorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@author.AuthorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@author.AuthorID">Delete</a>

            </td>
        </tr>
    }
    </tbody>
</table>

*@

@model IEnumerable<FinalProject.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@author.AuthorID" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@author.AuthorID" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@author.AuthorID" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
