





@model IEnumerable<FinalProject.Models.Author>


@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => author.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@author.AuthorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@author.AuthorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@author.AuthorID">Delete</a>

            </td>
        </tr>
    }
    </tbody>
</table>
